.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 96vh;
}

.drawer {
  background: #69a849;
  flex:0.50;
}

.header {
  background: yellowgreen;
}

.footer {
  background: yellowgreen;
}

.main {
  flex: 1;
  background: #0e723b;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logoApp {
  height: 15%;
  width: 15%;
}