.App {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
}

.drawer {
  background: #69a849;
  flex-grow:0.2;
}

.main {
  flex-grow: 1;
  background: lightgrey;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logoApp {
  height: 3em;
  will-change: filter;
  transition: filter 300ms;
}